XPAND_DATABASE__PASSWORD=
XPAND_DATABASE__HOST=
XPAND_DATABASE__USER=
XPAND_DATABASE__DATABASE= #test
XPAND_DATABASE__PORT= #test

# Xpand Incit SOAP service, used for contact creation.
XPAND_SOAP__URL=
XPAND_SOAP__USERNAME=
XPAND_SOAP__PASSWORD=

ELASTICSEARCH_LOGGING_HOST=
APPLICATION_NAME=contacts
