XPAND_DATABASE__PASSWORD=
XPAND_DATABASE__HOST=
XPAND_DATABASE__USER=
XPAND_DATABASE__DATABASE= #test
XPAND_DATABASE__PORT= #test

ELASTICSEARCH_LOGGING_HOST=
APPLICATION_NAME=contacts

CONTACTS_DATABASE__PASSWORD=
CONTACTS_DATABASE__HOST=
CONTACTS_DATABASE__USER=
CONTACTS_DATABASE__DATABASE=
CONTACTS_DATABASE__PORT=
