INFOBIP__BASE_URL=
INFOBIP__API_KEY=
APPLICATION_NAME=communication
ELASTICSEARCH_LOGGING_HOST=http://localhost:9208
LINEAR__URL=https://api.linear.app/graphql
LINEAR__API_KEY=
LINEAR__TEAM_ID=19b92370-c7b2-44ec-a26c-0f067edc7070
LINEAR__PROJECT_ID=40e6be50-94b0-4426-a164-93a0a044d8d9
LINEAR__MIMER_VISIBLE_LABEL_ID=278ba88a-5582-4ba0-bb3b-f7c6e7681c99